.typing-viewport {


    width:100%;

    max-width:1000px;

    height:180px;

    margin:40px auto;


    overflow:hidden;

    user-select:none;


    display:flex;

    flex-direction:column;

    justify-content:center;


}



.typing-line {


    min-height:60px;

    display:flex;

    align-items:center;


    flex-wrap:nowrap;


    overflow:hidden;


}



.typing-word {


    display:inline-flex;


    flex-shrink:0;


    margin-right:18px;


    font-size:32px;


    line-height:60px;


    letter-spacing:1px;


    color:#8b95a5;


}



.active-word {


    color:white;


}



.correct-char {


    color:#39d353;


}



.wrong-char {


    color:#ff4d4f;


}



.cursor {


    border-left:3px solid white;


    animation:blink 0.8s infinite;


}



@keyframes blink {


    50% {


        border-color:transparent;


    }


}