.typing-viewport{


width:900px;

height:150px;

overflow:hidden;

margin:auto;

padding:20px;


font-size:28px;

line-height:50px;


}


.word{

color:#94a3b8;

margin-right:12px;

}



.current-word{

color:white;

margin-right:12px;

}



.correct-char{

color:#22c55e;

}


.wrong-char{

color:#ef4444;

}



.cursor{

border-bottom:3px solid cyan;

}



.hidden-input{

position:absolute;

opacity:0;

}


body{

overflow-x:hidden;

}