* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
    background: linear-gradient(
        135deg,
        #0f2027,
        #203a43,
        #2c5364
    );

    overflow: hidden;
}


body::before,
body::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    z-index: -1;
}

body::before {
    width: 350px;
    height: 350px;
    background: #00f5ff;
    top: -100px;
    left: -100px;
    opacity: 0.5;
}

body::after {
    width: 400px;
    height: 400px;
    background: #ff00cc;
    bottom: -120px;
    right: -100px;
    opacity: 0.4;
}



.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 480px;
    padding: 50px 40px;
    text-align: center;

    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);

    border-radius: 25px;

    border: 1px solid rgba(255,255,255,0.25);

    box-shadow:
        0 25px 45px rgba(0,0,0,0.4),
        inset 0 0 20px rgba(255,255,255,0.1);

    animation: float 3s ease-in-out infinite;
}



h1 {
    color: white;
    font-size: 34px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    white-space: nowrap;
}

h1 span {
    color: #00f5ff;
    text-shadow:
        0 0 5px #00f5ff,
        0 0 15px #00f5ff,
        0 0 30px #00f5ff;
}



p {
    color: #e8e8e8;
    font-size: 20px;

    text-shadow:
        0 0 8px rgba(255,255,255,0.5);
}



@keyframes float {

    0%,100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}



@media(max-width:500px){

    .card {
        width: 90%;
        padding: 35px 25px;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }
}